html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
.popup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*Additions*/

* {
  text-decoration: none;
  list-style-type: none;
}

main {
  padding-top: 100px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100px;
}

header .brand {
  font-size: 24px;
  color: #111;
  font-weight: 900;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
  font-family: "Roboto Mono", monospace;
}

header > nav > ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header > nav > ul > li {
  display: inline-block;
  float: left;
  padding: 0px 16px;
  text-align: center;
}

header > nav > ul > li > a {
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
}

@media only screen and (min-width: 1000px) {
  header .brand {
    margin: 31px 0px;
    text-align: left;
    line-height: 38px;
    padding: 0px 20px 0px 40px;
    border-right: solid 2px #111;
    float: left;
  }

  header > nav > ul {
    display: block;
    margin: 20px 0px 0px 20px;
    float: left;
  }

  header > nav > ul > li {
    display: inline-block;
    float: left;
    padding: 0px 16px;
    text-align: center;
  }

  header > nav > ul > li > a {
    font-size: 16px;
    color: #111;
    line-height: 60px;
    text-transform: uppercase;
  }
}

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  /* background-image:url("https://media3.giphy.com/media/BHNfhgU63qrks/giphy.gif");  */
  background-image: url("https://media.giphy.com/media/CW16nFVXLSQxSMUEMd/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}
#project-banner {
  width: 100%;
  height: calc(90vh - 100px);
  background-image: url("https://media.giphy.com/media/A5ffIYwJoEpVcMOYiO/giphy.gif");
  /* background-image:url("https://data.whicdn.com/images/51034696/superthumb.gif?t=1359753258");  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

#contact-banner {
  width: 100%;
  height: calc(90vh - 100px);
  background-image: url("https://media.giphy.com/media/7F2HFcT5Ww7C5rRjso/giphy.gif");
  /* background-image:url("https://lofigirl.com/wp-content/uploads/2023/02/DAY_UPDATE_ILLU.jpg");  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

#author-banner {
  width: 100%;
  height: calc(90vh - 100px);
  /* background-image:url("https://i.pinimg.com/originals/7b/62/25/7b6225a5d44177c67dd132be70a03efe.gif");  */
  background-image: url("https://media.giphy.com/media/xJRhr0sDFwmppinuRa/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.index-banner h2 {
  font-size: 60px;
  color: #fff;
  text-align: center;
  font-weight: 900;
  line-height: 70px;
  text-shadow: 2px 2px #111;
  font-family: "Karla", sans-serif;
}

.index-banner h1 {
  font-size: 28px;
  color: #fff;
  text-align: center;
  font-weight: 900;
  line-height: 40px;
  font-style: italic;
  text-shadow: 1px 1px #111;

  font-family: "Indie Flower", cursive;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;
  border-left: 1px solid black;
}

.index-links div h3 {
  font-size: 20px;
  color: #111;
  text-align: center;
  font-weight: 300;
  line-height: 100px;

  font-family: "Inconsolata", monospace;
}

.author-article {
  padding: 20px;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .index-banner {
    height: 525px;
  }

  #project-banner {
    height: 525px;
    /* background-image:url("https://data.whicdn.com/images/51034696/original.gif"); */
    background-image: url("https://media.giphy.com/media/A5ffIYwJoEpVcMOYiO/giphy.gif");
  }

  #author-banner {
    height: 525px;
    /* background-image:url("https://i.pinimg.com/originals/7b/62/25/7b6225a5d44177c67dd132be70a03efe.gif"); */
    background-image: url("https://media.giphy.com/media/xJRhr0sDFwmppinuRa/giphy.gif");
  }

  #contact-banner {
    height: 525px;
    /* background-image:url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/59/79/4557a49d92572ff.jpg"); */
    background-image: url("https://media.giphy.com/media/7F2HFcT5Ww7C5rRjso/giphy.gif");
  }

  .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;
  }

  .index-links {
    overflow: hidden;
  }

  .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #f2f2f2;
    float: left;
  }
  .index-box-square {
    width: calc(25% - 20px) !important;
  }
  .index-box-rectangle {
    width: calc(50% - 20px) !important;
  }
  .index-links div h3 {
    line-height: 230px;
  }
}

.project-photo h2 {
  border-top: solid 2px #f2f2f2;
  font-size: 24px;
  color: #111;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: "Roboto Mono", monospace;
}

.project-photo img {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

.project-photo article h3 {
  font-size: 24px;
  color: #111;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 20px;
  font-family: "Inconsolata", monospace;
  text-decoration: underline;
}

.project-vid video {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  width: 40%;
}

.project-vid h2 {
  border-top: solid 2px #f2f2f2;
  font-size: 24px;
  color: #111;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: "Roboto Mono", monospace;
}

.project-vid article h3 {
  font-size: 24px;
  color: #111;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 20px;
  font-family: "Inconsolata", monospace;
  text-decoration: underline;
}

.project-vid article div p {
  font-size: 16px;
  line-height: 24px;
  color: #111;
  font-weight: 300;
  font-family: "Abel", sans-serif;
}

.project-photo article div p {
  font-size: 16px;
  line-height: 24px;
  color: #111;
  font-weight: 300;
  font-family: "Abel", sans-serif;
}

#square1 {
  border-left-color: hotpink;
}

#square2 {
  border-left-color: hotpink;
}

#square3 {
  border-left-color: hotpink;
}

/*About Me*/
.skills {
  font-size: 14px;
  color: #111;
  letter-spacing: 2px;
  font-family: "Inconsolata", monospace;
}

.summary {
  font-size: 16px;
  color: #111;
  letter-spacing: 2px;
  font-family: "Inconsolata", monospace;
}

.contact {
  font-size: 16px;
  color: #111;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "Inconsolata", monospace;
}

.column{
	width: 1000;
	background-color: #fff;
	margin-top: 20px;
}

.about-header {
  font-size: 18px;
  color: #111;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Karla", sans-serif;
  text-decoration: underline;
  display: inline;
}

.sub-header {
  font-size: 16px;
  color: #111;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Karla", sans-serif;
}

.sub2-header {
  font-size: 15px;
  color: #111;
  font-weight: 550;
  letter-spacing: 2px;
  font-family: "Karla", sans-serif;
  text-decoration: underline;
}

.sub3-header {
  font-size: 14px;
  color: #111;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Karla", sans-serif;
}

/*footer*/
footer {
  width: calc(100%- 80px);
  padding: 40px 40px;
  background-color: #111;
  margin-top: 20px;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  font-size: 14px;
  color: #fff;
  line-height: 40px;
}
.footer-sm {
  width: 60px;
  float: right;
}

.footer-sm img {
  width: 50px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  footer ul li a {
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }
  footer ul {
    padding-right: 30px;
  }
}

 /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color: #101dcb;
  letter-spacing: 2px;
  font-family: "Inconsolata", monospace;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 